@inherits LayoutComponentBase

<!DOCTYPE html>
<html lang="ar" dir="rtl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <title>تسجيل الدخول - نظام شحن الكهرباء</title>
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700&display=swap" rel="stylesheet">
    <link href="bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="app.css" rel="stylesheet" />
    <link href="LogInTask.styles.css" rel="stylesheet" />
</head>
<body>
    @Body
    <script src="_framework/blazor.web.js"></script>
</body>
</html>
